/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: PTSans-regular;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: PTSans-regular;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'PTSans-regular';
  src: url("../fonts/PTS-regular.ttf");
}
@font-face {
  font-family: 'PTSans-bold';
  src: url("../fonts/PTS-bold.ttf");
}

.flex {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.menu {
  flex: 1 1 53px;
  background: #3eade2 url("../img/menu-mob.png") no-repeat center;
  position: relative;
  display: flex;
  .mobile-button {
    display: block;
    width: 100%;
    align-self: stretch;
  }
  .main-menu {
    top: 100%;
  }
  .menu-list {
    list-style-type: none;
    display: none;
    position: absolute;
    border: 1px solid #dddfdf;
    border-radius: 2px;
    background: #fff;
    z-index: 12;
    min-width: 100%;
    a, span {
      color: #cf9c59;
      display: block;
      padding: 5px;
    }
    .decorations {
      list-style-type: none;
    }
  }
  .parent {
    position: relative;
  }
  .catalog, #decorations, #m_decorations {
    list-style-type: none;
    top: 0;
    left: 100%;
    margin: -1px 0 0;
  }
  #decorations {
    display: none;

  }
}
.home {
  flex: 1 1 53px;
  a {
    display: block;
    padding: 13px 0 14px;
    text-indent: -9999px;
    background: #f0f1f6 url("../img/home.png") no-repeat center;
  }
}
.search {
  flex: 1 1 53px;
  .search-form {
    display: none;
  }
  a {
    display: block;
    padding: 13px 0 14px;
    text-indent: -9999px;
    background: #f0f1f6 url("../img/search-mob.png") no-repeat center;
  }
}
.login {
  display: flex;
  flex: 2 1 106px;
  .cart {
    display: block;
    background: #f0f1f6 url("../img/cart-mob.png") no-repeat center;
    width: 50%;
    text-indent: -9999px;
  }
  .entrance {
    display: block;
    background: #f0f1f6 url("../img/login.png") no-repeat center;
    width: 50%;
    text-indent: -9999px;
  }
}
.contact {
  flex: 1 1 53px;
  a {
    display: block;
    text-indent: -9999px;
    background: #f0f1f6 url("../img/contact.png") no-repeat center;
    padding: 13px 0 14px;
  }
  .tel{
    display: none;
  }
  .info{
    display: none;
  }
}
.logo {
  flex: 1 1 100%;
  flex-grow: 2;
  width: 247px;
  margin: 13px 20px 18px;
}
#container {
  padding: 0;
}
.flexslider {
  border: 0;
  box-shadow: none;
  .flex-prev {
    background: #d3a571 url("../img/14.png") no-repeat 7px center;
    left: 0;
    &:hover {
      background: #ffffff url("../img/15.png") no-repeat 7px center;
      background-size: 100%;
    }
  }
  .flex-next {
    background: #d3a571 url("../img/14.png") no-repeat -7px center;
    right: 0;
    &:hover {
      background: #ffffff url("../img/15.png") no-repeat -7px center;
      background-size: 100%;
    }
  }
  .flex-prev,
  .flex-next {
    transition: all 0s ease;
    opacity: 0.9;

    width: 20px;
    height: 28px;
    background-size: 100%;
    margin: -12px 0 0;
  }
  &:hover {
    .flex-prev {
      left: 0;
      opacity: 0.9;
    }
    .flex-next {
      right: 0;
      opacity: 0.9;
    }
    .flex-next:hover,
    .flex-prev:hover {
      opacity: 0.9;
    }
  }
  .flex-control-nav {
    li {
      margin: 0 10px;
    }
  }
  .flex-control-paging {
    display: none;
    li {
      a {
        width: 20px;
        height: 20px;
        background: #eedcc4;
        box-shadow: none;
        &.flex-active {
          background: #cb944c;
        }
        &:hover {
          background: #cb944c;
        }
      }
    }
  }

  .slider-block {
    height: 124px;
    background: url("../img/slider-mob.png") no-repeat center center;
    background-size: cover;

    .element-slider-block {
      color: #ffffff;
      float: left;
      background: rgba(212, 169, 110, .9);
      width: 191px;
      font-size: 16px;
      margin: 42px 27px 39px;
      padding: 6px 21px 5px 8px;
    }
  }
}

@media (min-width: 768px) {
  body {
    padding: 23px 13px;
  }
  .menu {
    order: 6;
    flex: 1 1 100%;
    background: none;
    padding: 0;
    .mobile-button {
      display: none;
    }
    .main-menu {
      display: flex;
      text-align: center;
      text-transform: uppercase;
      position: initial;
      margin: 0 0 20px;
      border: none;
      border-top: 1px solid #dddfdf;
      border-bottom: 1px solid #dddfdf;
      li {
        flex-grow: 1;
        a, span {
          cursor: pointer;
          color: #181818;
          font-size: 12px;
          font-family: PTSans-bold;
          display: block;
          padding: 16px 9px 17px;
        }
      }
      .fa-camera-retro {
        color: #cb944c;
        margin: 0 7px 0 0;
      }
      .fa-chevron-down {
        color: #cb944c;
        vertical-align: 20%;
        margin: 0 0 0 10px;
        font-size: 11px;
      }

      .catalog {
        left: 17px;
        top: 100%;
        text-align: left;
        margin: 7px 0 0;
        padding: 8px 0;
        width: 242px;
        .fa-chevron-right {
          color: #cb944c;
          font-size: 11px;
          float: right;
          margin: 3px 15px 0 0;
        }
      }

      .menu-list {
        text-transform: none;
        box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
        li {
          background: url("../img/list_circle.png") no-repeat 15px center;
          &:hover {
            background: #e9e9ea url("../img/list_circle.png") no-repeat 15px center;
          }
          a, span {
            color: #666666;
            padding: 10px 0 10px 27px;
            font-size: 15px;
            font-family: PTSans-regular;
          }
        }
        .head   {
          font-family: PTSans-bold;
          text-transform: uppercase;
          color: #cf9c59;
          padding: 8px 0 8px 15px;
             }
      }
    }
    #decorations, #m_decorations {
      margin: -12px 0 0 2px;
      padding: 8px 0;
    }
  }
  .home {
    order: 4;
    flex: 2 1 473px;
    a {
      display: none;
    }
  }
  .search {
    order: 2;
    flex: 10 1 257px;
    align-self: center;
    a {
      display: none;
    }
    .search-form {
      display: block;
      padding: 0 13px 0 20px;
      width: 100%;
    }
    .search-form-field {
      font-size: 12px;
      padding: 10px 8px 11px 11px;
      color: #b9b8bd;
      background: url(../img/search.png) no-repeat calc(98%) center;
      border: 1px solid #b9b8bd;
      border-radius: 2px;
      width: 100%;
    }
  }
  .login {
    order: 5;
    flex: 1 1 269px;
    max-width: 280px;
    padding: 0 17px 0 13px;
    text-align: end;
    font-size: 10px;
    .cart, .entrance {
      background: none;
      color: #2b3056;
      padding: 14px 0;
      font-family: PTSans-bold;
      i {
        color: #cb944c;
      }
    }
    .cart {
      flex: 1 1 157px;
      span {
        background: #cb944c;
        border-radius: 50%;
        padding: 2px 3px;
        color: #fff;
        margin: 0 3px;
      }
    }
    .entrance {
      flex: 1 1 50px;
    }
  }
  .contact {
    display: flex;
    order: 3;
    flex: 1 1 269px;
    padding: 0 17px 0 13px;
    text-align: end;
    max-width: 340px;
    a {
      display: none;
    }
    .tel {
      display: block;
      align-self: center;
      flex: 1 1 128px;
      a {
        display: block;
        text-indent: unset;
        background: none;
        font-size: 15px;
        font-weight: 600;
        padding: 0;
        color: #181616;
      }
    }
    .info {
      display: flex;
      align-self: center;
      flex-direction: column;
      font-size: 10px;
      flex: 1 1 100px;
      .schedule {
        color: #d2a264;
      }
      .delivery {
        color: #2b3056;
      }
    }
  }
  .logo {
    order: 1;
    flex: 1 1 216px;
    margin: 0;
    padding: 0 20px 0 17px;
    max-width: 340px;
    img {
      width: 100%;
    }
  }
  .flexslider {
    .slider-block {
      height: 166px;
      background: url("../img/sliderl.jpg") no-repeat center center;
      background-size: cover;
      .element-slider-block {
        width: 286px;
        font-size: 21px;
        margin: 50px 38px;
        padding: 12px 15px;
      }
    }
    .flex-prev,
    .flex-next {
      width: 20px;
      height: 66px;
      margin: -33px 0;
    }
  }
}

@media (min-width: 1200px) {
  body {
    padding: 34px 23px;
    max-width: 1400px;
    margin: 0 auto;
  }
  .header {
    padding: 0 57px;
  }
  .search {
    flex: 2 1 465px;
  }
  .logo {
    flex: 2 1 262px;
  }
  .contact {
    flex: 1 1 315px;
    max-width: 350px;
    .info {
      font-size: 12px;
      flex: 1 1 125px;
    }
    .tel {
      flex: 1 1 150px;
      a {
        font-size: 18px;
      }
    }
  }
  .menu {
    order: 4;
    flex: 1 1 750px;
    .main-menu {
      margin: 12px 0 31px;
      li {
        a, span {
          padding: 19px 9px 20px;
          font-size: 14px;
        }
      }
    }
  }
  .login {
    margin: 12px 0 31px -1px;
    order: 5;
    flex: 1 1 290px;
    padding: 0;
    max-width: 370px;
    font-size: 15px;
    a {
      border-top: 1px solid #dddfdf;
      border-bottom: 1px solid #dddfdf;
    }
    .cart, .entrance {
      padding: 20px 0 19px;
      align-self: center;
    }
    .entrance {
      padding: 20px 12px 19px 0;
    }
  }
  .home {
    display: none;
  }
  .flexslider {
    .flex-prev {
      background: #d3a571 url("../img/14.png") no-repeat 9px center;
      &:hover {
        background: #ffffff url("../img/15.png") no-repeat 9px center;
      }
    }
    .flex-next {
      background: #d3a571 url("../img/14.png") no-repeat -15px center;
      &:hover {
        background: #ffffff url("../img/15.png") no-repeat -15px center;
      }
    }
    .flex-prev,
    .flex-next {
      width: 37px;
      height: 128px;
      margin: -64px 0 0;
    }
    .flex-control-paging {
      display: block;
    }

    .slider-block {
      height: 326px;
      .element-slider-block {
        font-size: 42px;
        width: 500px;
        margin: 99px 70px 0;
        background: rgba(212, 169, 110, .9);
        padding: 18px 30px 26px;
      }
    }
  }
}
@media (min-width: 1300px) {
  .contact {
    .info {
      font-size: 13px;
      flex: 0 1 135px;
    }
    .tel {
      a {
        font-size: 20px;
      }
    }
  }
  .menu {
    .main-menu {
      li {
        a, span {
          font-size: 15px;
        }
      }
    }
  }
}
@media (min-width: 1360px) {
  .contact {
    padding: 0 17px 0 0;
    .tel {
      a {
        font-size: 23px;
      }
    }
  }
  .menu {
    .main-menu {
      li {
        a, span {
          font-size: 16px;
        }
      }
    }
  }
}